.footer-container {
  background-color: var(--primary-color);
  height: calc(var(--spacing-large) + var(--spacing-normal));
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: calc(var(--spacing-large) + var(--spacing-normal));
}

.footer a {
  padding: 0 var(--spacing-small);
  border: none;
}

.footer__moreInfo,
.footer__socialMedia {
  display: flex;
  line-height: calc(var(--spacing-large) + var(--spacing-normal));
}

.footer__socialMedia span {
  display: flex;
  margin-bottom: var(--spacing-small);
  padding: var(--spacing-small);
  border-radius: 100%;
  background-color: var(--gray-scale-4);
}

.footer__socialMedia span:hover {
  box-shadow: 0 0 10px var(--secondary-color);
}

.footer__socialMedia a:hover {
  background-color: transparent;
}