/* ----------------------- estilos generales de SaleCatalog-section */
.SaleCatalog-section {
  background-color: var(--gray-scale-2);
  padding: calc(var(--spacing-normal) * 2) 0;
  font-size: 1.3rem;
}

.SaleCatalog {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: var(--spacing-normal);
}

.SaleCatalog h3 {
  margin-bottom: var(--spacing-normal);
}

/* ----------------------- panel izquierdo de las categorias */
.categorie {
  background-color: var(--gray-scale-1);
  padding: var(--spacing-small);
  border: 2px solid var(--gray-scale-3);
  margin-bottom: var(--spacing-small);
  transition: 200ms;
}

.categorie:hover {
  color: var(--gray-scale-1);
  text-shadow: -1px 1px 2px var(--primary-color);
  background: var(--gradient-color);
}

/* ----------------------- sección de los Articulos más vendidos */
/* ----------------------- buscador */
.SaleCatalog__products-list-search {
  display: flex;
  margin-bottom: var(--spacing-small);
  padding: var(--spacing-small);
  border: 2px solid var(--gray-scale-3);
  background-color: var(--gray-scale-1);
}

.SaleCatalog__products-list input {
  width: 50%;
  padding-left: var(--spacing-small);
  border: none;
  font-size: 1.3rem;
  outline: none;
}

/* ----------------------- sección del contenedor de las cards */
.SaleCatalog__products-list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ----------------------- Card de articulos más vendidos */
.productCard {
  max-width: 250px;
  min-width: 240px;
  margin-bottom: var(--spacing-normal);
  padding: var(--spacing-small);
  border: 2px solid var(--gray-scale-3);
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  background-color: var(--gray-scale-1);
}

.productCard__name {
  text-align: left;
}

.productCard__img {
  width: 60%;
  max-height: 160px;
  padding: var(--spacing-normal) 0;
}

.productCard__buy {
  display: flex;
  justify-content: space-between;
}

.productCard__buy button {
  flex: 1;
  border: none;
  border-radius: calc(var(--spacing-small)/ 2);
  box-shadow: 0 0 4px var(--gray-scale-5);
  font-weight: 800;
  font-size: 1.2rem;
  color: var(--gray-scale-1);
  background: var(--gradient-color);
  outline: none;
  transition: 200ms;
}

.productCard__buy button:hover {
  text-shadow: -1px 1px 2px var(--primary-color);
  transition: 0;
}

.productCard__buy button:active {
  transform: scale(.8);
}

.productCard__buy p {
  flex: 1;
  align-self: flex-end;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: right;
}

/* botones al pie de pagina para navegancion entre paginas */
.SaleCatalog__products-navigation button {
  margin-top: var(--spacing-normal);
  margin-right: var(--spacing-small);
  padding: calc(var(--spacing-small) / 2) var(--spacing-normal);
  border: 2px solid var(--gray-scale-3);
  font-size: 1rem;
  background: var(--gray-scale-1);
  outline: none;
}

.SaleCatalog__products-navigation button:active {
  background: var(--gradient-color);
}

.SaleCatalog__products-navigation button:nth-child(1) {
  background: var(--secondary-color);
}