:root {
  --primary-color: #443434;
  --secondary-color: #ff6600;
  --secondary-color-light: #fe8500;
  --gradient-color: linear-gradient(to top, var(--secondary-color), var(--secondary-color-light));
  --gray-scale-1: #fff;
  --gray-scale-2: #faf7f2;
  --gray-scale-3: #e9e6e1;
  --gray-scale-4: #a09c9d;
  --gray-scale-5: #4d3d3d;
  --gray-scale-6: #010101;

  --spacing-small: 10px;
  --spacing-normal: 20px;
  --spacing-large: 50px;
  --spacing-extra-large: 70px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 1.7rem;
  color: var(--secondary-color);
}

a {
  padding: 0 var(--spacing-normal);
  border-left: 1px solid var(--gray-scale-5);
  border-right: 1px solid var(--gray-scale-5);
  font-size: 1.3rem;
  color: var(--gray-scale-1);
  text-decoration: none;
  text-shadow: -2px 2px 2px var(--primary-color);
}

a:hover {
  background-color: var(--secondary-color);
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}